@import "tailwindcss";

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
    }

    body {
        width: 100vw;
        height: 100vh;
    }
}


@layer utilities {
    .scrollbar-chat::-webkit-scrollbar {
        width: 12px;
    }

    .scrollbar-chat::-webkit-scrollbar-thumb {
        background: rgb(39, 38, 48);
        border-radius: 10px;
    }

    .scrollbar-chat::-webkit-scrollbar-thumb:hover {
        background: rgba(39, 38, 48, 0.8);
    }

    .scrollbar-chat::-webkit-scrollbar-track {
        background: rgba(45, 55, 72, 0.1);
        border-radius: 10px;
    }


    .bg-gradient {
        background: linear-gradient(135deg, #1F2937 0%, #0d1924 100%)
    }
}